[2016-10-02 01:41] dominikh opened #5 "Create events"
kube-cert-manager should create Event objects for certain events, such as refreshing a secret.

Will send a PR after my other work.

[2016-10-02 19:35] dominikh opened #6 "Support MODIFIED event on Certificate objects"

[2016-10-03 13:31] mikebryant opened #8 "DNS failure in corporate environments"
In our environment we have no direct access to `8.8.8.8, 8.8.4.4` which are the defaults used by lego, instead of the ones provided by the OS/Kubernetes

We've got a PR open upstream at xenolf/lego#293 - I'm opening this to track this issue, once it's merged we'd like a new build of kube-cert-manager to incorporate the fix, if possible? :)

[2016-10-03 14:51] luna-duclos commented on #8
That's totally fine! :) If you can let me know when the PR is merged, I'll make a new build

[2016-10-04 15:24] groob opened #9 "kubernetes 1.4 no longer validates the certificate resource"
Getting the error
[code]
trying to create a new certificate resource on a 1.4 cluster.

setting `--validate=false` does appear to resolve the issue for now.

The new third party resource requirements are documented in this k8s PR https://github.com/kubernetes/kubernetes/commit/620cc66ead8256ad27fceb61d5d37e6d6c0c3efc

[2016-10-04 16:58] dominikh commented on #9
Silly question, but are you sure you've imported `k8s/certificate.yaml` in your new cluster?

[2016-10-04 17:05] groob commented on #9
Yes, I have:

[code]

[2016-10-05 09:57] #5 closed

[2016-10-05 09:57] #6 closed

[2016-10-05 09:58] luna-duclos commented on #9
I've been unable to reproduce this in my own 1.4 cluster. Can you get in touch with me on slack ?

[2016-10-05 10:14] luna-duclos commented on #9
After a hangouts call, we've discovered that running kubectl 1.3 with a 1.4 cluster causes these problems.

[2016-10-05 10:14] #9 closed

[2016-10-08 00:43] dominikh opened #12 "Update event count instead of creating new events"
When the same event occurs repeatedly, for example due to misconfiguration, we should not repeatedly create events. Instead, we should just update the count, and the last event time.

[2016-10-08 00:45] dominikh opened #13 "Create event when we start obtaining a certificate"
Right now, we only create events for successful or failed certificate creation. But since creation can take over a minute we should also log the start of the operation.

This will require a slight refactor to split checking and obtaining into two separate routines.

[2016-10-10 00:42] colemickens opened #14 "Use InClusterConfig instead of `kubectl proxy` sidecar"
Since your controller is written in Go, you can just use the [InClusterConfig](https://github.com/kubernetes/kubernetes/blob/master/pkg/client/restclient/config.go#L252) to talk directly to the apiserver with the same serviceaccount that `kubectl proxy` is using now.

[2016-10-10 01:10] dominikh commented on #14
Indeed. We were planning to eventually migrate to that solution. It's not a high priority, however, because the kubectl proxy is working rather well.

[2016-10-11 17:01] andrewhowdencom opened #16 "Create a helm package"
This distribution seems like a good candidate to create a helm package from.

If you like, I will see if I can create a patch for this, somehow.

[2016-10-11 17:06] luna-duclos commented on #16
I'd certainly have nothing against a helm package, with the caveat that users still need to be able to configure their DNS provider somehow.

[2016-10-12 12:15] bussyjd opened #17 "The kube-cert-manager can't access the extension API"
Hello,

I followed the deployment guide but I get the following error when checking the kube-cert-manager logs

[code]
Am I missing something?
Thanks

[2016-10-12 12:16] luna-duclos commented on #17
Hello, do you keep getting these afterwards as well ? It's entirely possible the kube-cert-manager container started before the kubectl proxy container, which would cause these errors at startup.

[2016-10-12 12:18] bussyjd commented on #17
I don't get them afterwards :+1:
I see! My bad, thanks for the blazing fast response

[2016-10-12 12:18] #17 closed

[2016-10-13 13:42] bussyjd opened #18 "Can't set an email address in cloudflare DNS provider CLOUDFLARE_EMAIL param"
It's impossible to set an email address in the CLOUDFLARE_EMAIL parameter to set a DNS challenge provider with Cloudflare:

[code]

[2016-10-13 13:47] luna-duclos commented on #18
Hello,

Could you please share your complete deployment.yaml ?

[2016-10-13 14:26] bussyjd commented on #18
[code]

Am I doing it wrong?

[2016-10-13 15:10] luna-duclos commented on #18
This is not how secrets work, you're supposed to be storing the key and email themselves as a secret within your cluster, and only refer to where they're stored in your secret. See: http://kubernetes.io/docs/user-guide/secrets/#using-secrets-as-environment-variables

For example you could use "email" and "apiKey" as keys, and store the actual email and api key in the secret

[2016-10-13 16:33] bussyjd commented on #18
Thank you for the information.
I managed to create a secret and point the deployment.yaml file to the relevant secret keys.
:+1:

[2016-10-13 17:41] bussyjd commented on #18
Hello @PSG-Luna
Thanks again for the help so far.

With deployment.yaml as

[code]

, secret file:

[code]

Checked with
echo "xxx" | base64 -d
foo@bar.com

and certs/mydomain-dot-com.yaml:

[code]

I get the following error
in the kube-cert-manager logs:

[code]

It seems that the `\n` that got its way in the end of the X-Auth-Email header field is the culprit.
I double checked my yaml files and

[2016-10-13 18:54] luna-duclos commented on #18
Not too sure where the newline is sneaking in, no. And I don't have an account with cloudflare to test with them either. If you'd like, we can do a screenshare tomorrow to see what's going on ?

[2016-10-16 18:56] andrewhowdencom commented on #16
This is getting towards done (will tidy the history and write a decent commit later, but it's tracked at https://github.com/PalmStoneGames/kube-cert-manager/compare/master...andrewhowdencom:ahowden_add-helm-packge)

There are two outstanding issues:
1. How should we configure the DNS providers? I do not see any way to conditionally create files with helm packages (though this is my first attempt a

[2016-10-17 05:48] andrewhowdencom commented on #16
Stub (mental note) - A large, monolithic secret containing all environment variables is probably fine here.

[2016-10-18 05:43] luna-duclos commented on #18
Closing due to lack of response

[2016-10-18 05:43] #18 closed

[2016-11-04 09:42] stuart-warren commented on #8
ping @mikebryant that PR was merged, though no releases since April

[2016-11-04 21:35] ibotty opened #20 "Support openshift's routes"
It would be great to optionally support openshift's routes. They are similar to ingresses, but not (yet) compatible.

[2016-11-07 21:38] luna-duclos commented on #20
Is there a spec and/or documentation about them available somewhere ?

[2016-11-11 14:33] ibotty commented on #20
Sorry, I missed your question.

There is. https://docs.openshift.org/latest/dev_guide/routes.html

The main complication will be cross-namespace support for the http challenge. That will need a proxy pod in the routes namespace. Other than that, it is only about modifying a kube object. I can provide some shell snippets that do that if you find that useful.

[2016-11-11 20:40] luna-duclos commented on #20
afaik cross-namespace support for http already works for ingress/cert objects, so I don't expect that'd be much of an issue ? Just need to proxy the correct path to kcm

[2016-11-11 20:54] ibotty commented on #20
In openshift, routes for the same hostname can only exist in the same namespace. Routes can only point to services in the same namespace. That's a limitation of openshift's routes, not of cert-manager.

It might be possible to have a service with explicit endpoint (the certmanager's service IP) though. I'll check that next week.

[2016-11-27 17:54] tribou opened #23 "Error: JWS has invalid anti-replay nonce"
I was testing `kube-cert-manager` using the staging ACME URL, and it worked flawlessly.  However, I switched to the production URL, and it began throwing this error:

[code]

I'm fairly new to this project as well as Lets Encrypt, but I saw xenolf/lego#318. Would someone here be able to test the [`fix_nonce_error` branch](https://github.com/xenolf/lego/tree/fix_nonce_error) to see if it identifies

[2016-11-28 17:41] tribou commented on #23
This was an issue with the Let's Encrypt metadata.  By deleting the `data.db` boltdb after testing against the staging Let's Encrypt URL and redeploying with the prod URL configuration, the account metadata was regenerated, and this issue went away.

More details can be found here: https://github.com/xenolf/lego/issues/318#issuecomment-263339163

[2016-11-28 17:41] #23 closed

[2016-12-08 19:22] colemickens opened #25 "kube-cert-manager can't talk to the kubectl proxy"
I noticed that `kube-cert-manager` is not injecting the TLS secret as I was expecting.

When I checked the logs for `kube-cert-manager` container...

[code]

Unfortunately, there's no output whatsoever from `kubectl-proxy` container

[code]

[2016-12-08 20:01] colemickens commented on #25
From another issue, it sounds like this can just happen on startup. I've placed kube-cert-manager into my application's namespace, the Ingress is properly annotated and yet it doesn't seem to do anything. Do you happen to have any suggestions for debugging/troubleshooting?

[2016-12-08 20:06] colemickens commented on #25
I had a problem with the annotations. Rather than having the three I needed, I had the same key repeated multiple times, so enabled wasn't actually set to true.

[2016-12-08 20:06] #25 closed

[2016-12-10 19:46] groob opened #26 "proposal: support instrumentation"
It would be useful if the cert manager had support for metrics.
Some useful data to keep track of:
- number of certs issued/renewed
- time to acquire a cert
- number of errors

I use [prometheus](https://prometheus.io/) to monitor our k8s services, but some people use other monitoring solutions. I'd like to add metrics support to this projects, using the [github.com/go-kit/kit/metrics](https://git

[2016-12-10 20:05] luna-duclos commented on #26
As long as things keep working if there is no metrics endpoint available, yes, this would be absolutely very interesting. It could also be mixed with #13 and #12 as it'd probably touch the same code

[2016-12-11 03:34] druidsbane commented on #8
ping @PSG-Luna @mikebryant as this was merged a while ago, any chance we can get a new build that includes this?

[2016-12-16 04:26] colemickens opened #27 "Only picks up new things"
Looks like if I delete the secret and kick over k-c-m, it doesn't get a cert for the existing ingress.

If I update the ingress, it picks it up.

I guess it should loop over existing ingresses before watching.

[2016-12-17 11:02] dominikh commented on #27
Unless Kubernetes's behaviour changed, the first watch operation (with no checkpoint to start from) will replay all existing objects. As such, "watch" and "loop + watch" should behave identically.

[2016-12-24 01:47] paultiplady commented on #16
@andrewhowdencom might be possible to do something cunning with named templates: https://github.com/kubernetes/helm/blob/master/docs/chart_template_guide/named_templates.md#the-include-function

Looks like all of these boilerplate env variables are of the form `KEY=value`, so perhaps you can use something like the `{{- range $key, $val := .Values.config }}` syntax at the bottom to only specify the

[2016-12-27 07:45] andrewhowdencom commented on #16
You know, I completely forgot about this. I got it "mostly working", and have thus just been using it.

@paultiplady That is a good idea. However, I'm time limited -- given that this works as it stands, I might offer it up for PR shortly (so, with docs).

The helm charts have also undergone somewhat of a "standardisation" recently based around the prometheus chart, and have abstracted things like

[2016-12-27 10:40] luna-duclos commented on #16
Thanks! Looking forward to the PR :)

[2016-12-29 15:46] druidsbane commented on #8
@luna-duclos @mikebryant any chance we can get this released or add a flag: -dns-resolvers to match the functionality of lego itself so we can override the default DNS resolvers?

[2017-01-12 04:08] luna-duclos commented on #27
Any more info on this ? kube-cert-manager seems to pick up everything fine for me, unless kubernetes 1.5 changed the API for this or something ?

[2017-01-12 04:08] #27 closed

[2017-01-14 04:30] whereisaaron opened #29 "Add better error handling for getting all ingresses, secrets, certificates"
While establishing RBAC permissions for kube-cert-manager, it was running without permissions to do the things it needs. For many requests it recognized the permission problem and logged something sensible e.g:
[code]

However for other bulk operations, it appears not to recognize the error, instead trying to parse the failed response. This seemed to apply to fetching lists of ingresses, secrets,

[2017-01-14 08:12] luna-duclos commented on #29
This seems a legit issue and will need a fix

[2017-01-14 16:14] whereisaaron commented on #29
Scarcely urgent though, so file it under 'one day' 😏

[2017-01-15 17:54] whereisaaron opened #30 "Add support for running per-provider-account kube-cert-manager instances"
# Proposal
I propose adding a 'stable.k8s.psg.io/kcm.class' label to allow multiple instances for kube-cert-manager to run in the same namespace(s) for different accounts at the same provider. E.g. if you have two different AWS Route 53 accounts for different domains for Pods that run in the same namespace in your kubernetes cluster. The 'class' could be different accounts for different domains, c

[2017-01-17 17:37] whereisaaron commented on #30
The Kubernetes API only support filtering by labels and not by annotations. Therefore any information to be used for filtering should be a label. E.g. it's silly to suck down and monitor a million Secrets in a large cluster if only 100 are certificate Secrets for our certificate manager instance. App [labels can and should be prefixed](https://kubernetes.io/docs/user-guide/labels/#syntax-and-chara

[2017-01-18 06:58] luna-duclos commented on #30
This all looks good to me, I'd also be provisionally in favor of moving kcm.enabled to a label so it can be correctly filtered on, as long as we also still respect the annotation if it's there (With the label taking priority if both are present).

I would absolutely merge a PR that follows this design

[2017-01-18 07:00] luna-duclos opened #33 "PSG is no more, we should probably move this repo at some point"
Ofcourse, moving the repo would break people's links, which I want to avoid. This issue is advanced notice that this will happen in a few months, at which point this repo will be emptied and replaced with a single README.md pointing to the new location. Is this ok for everyone ? If there are any issues with this plan, please let me know.

[2017-01-18 11:54] mavnn opened #34 "No activity after adding ingress with annotations"
I've deployed kube-cert-manager, but nothing appears to happen when I then create a tagged ingress resource. Is there anyway I can debug further what is happening?

The ingress looks like this:

[code]

The kube-cert-manager deploy looks like this:

[code]

Logs from the kube-cert-manager pod:

[code]
and then nothing, which I understand to be normal.

[2017-01-18 12:16] mavnn commented on #34
I have configured the ingress to run in a namespace, if that would make any difference.

[2017-01-19 04:47] luna-duclos commented on #34
Is KCM configured to monitor the same namespace ?

[2017-01-19 07:22] mavnn commented on #34
Hi Luna,
KCM is deployed in the same namespace - I had assumed that was the
namespace it would watch given that's how certificates seem to function.
I'll check the config options more thoroughly!

Thanks

On Thu, 19 Jan 2017, 04:47 Luna Duclos, <notifications@github.com> wrote:

[2017-01-19 11:02] luna-duclos commented on #34
It indeed SHOULD be, but there might be a bug ... Please let me know

[2017-01-20 03:11] jonnolen opened #37 "support for multiple domains per certificate"
On GCE we're creating an ingress of the form:

[code]

This creates:
[code]

Multiple hosts per cert is supported by LetsEncrypt... any opposition to a change to allow this?

Bonus: could these failure events be logged to the console so that it's clear that an ingress event was processed and ignored... took a long time to track down k8s events.

[2017-01-20 03:41] jonnolen commented on #37
just thinking out loud...  why not add `data.tls.hosts` to the secret that stores the list of hosts? It doesn't appear to search for the secret by `labels.domain`. the secret is checked for `s.Labels['domain']` but parsing out `s.Data['tls.hosts']` could work just as well to get to the point where the data is pulled from bolt.

[2017-01-20 04:40] luna-duclos commented on #37
/cc @dominikh I recall there were some issues with this when we discussed this, do you remember what they were ?

[2017-01-20 06:06] dominikh commented on #37
@luna-duclos No inherent issues, just added complexities and not wanting to deal with them at the time because it wasn't a particularly important feature.

Some parts of the code, garbage collection in particular, assume one domain per certificate.

[2017-01-20 06:31] luna-duclos commented on #37
In that case, no opposition from my end to add support for this to kcm

[2017-01-20 16:27] cat5 opened #38 "documented examples?"
Hi, I'm still fairly new to GCE environments (like a few weeks) and wrapping my head around things, but would it be possible to show an example of modifying the deployment with information on
getting and using the 'GOOGLE_APPLICATION_CREDENTIALS' secret as an volume.

Even an example of what this secret should/would look like in documentation would help newbies like myself.

[2017-01-22 04:39] whereisaaron commented on #37
@jonnolen you can support multiple domains in an Ingress just by having a secret (and certificate) for each one, e.g. change your example as below and it will work fine.
[code]

When you think about it, having multiple domain names per certificate is out of date. You needed that back when you didn't have SNI ('Host Header' for TLS), or when you had to manually manage certificates and did want lots

[2017-01-22 04:59] whereisaaron commented on #30
I have completed and lightly tested an implementation of the `-class` feature. I also added `-default-provider` and `-default-email` options. This means that Certificates for a kcm instance that is for one provider account can be minimally expressed as below. With the ability to override the default provider, email, and secret name if you wish.
[code]
The `-class` feature is backwards compatible.

[2017-01-22 05:07] whereisaaron commented on #34
@mavnn it is probably not working because you have multiple domains for one Secret, which kcm does not support. If you check the logs for the kcm container you'll probably see the warnings about this (`kubectl logs podname -c kube-cert-manager`)
[code]
Change it to two secrets as below and you should be away. You'll get two certificates, one for each domain name, but that will work perfectly with

[2017-01-22 16:10] jonnolen commented on #37
@whereisaaron we went down that path initially, we are on GCE and what happens is only the first cert gets attached to the generated HTTP Load Balancer.  I couldn't find a way to attach the second cert to the load balancer, if it's possible I'd love to know how because that would definitely solve our problem.

[2017-01-22 16:44] whereisaaron commented on #37
Hmm @jonnolen ... sounds like a limitation of the GCE Ingress Controller.

Could you not just make two Ingresses, one per domain/cert/backend?

Or for complete control, you run your own Ingress Controller (like the nginx one or Traefik) and use a GCE TCP load balancer?

[2017-01-22 20:00] whereisaaron commented on #33
Do you have a new location in mind? I guess we should change the default label/annotation prefix. Even if we change the default, we could make it configurable, so people with existing clusters can keep the old one in service.

[2017-01-22 21:43] jonnolen commented on #37
We are currently doing 1 per host, ill investigate rolling our own.
On Sun, Jan 22, 2017 at 11:44 AM Aaron Roydhouse <notifications@github.com>
wrote:

[2017-01-23 00:14] whereisaaron commented on #33
In preparation for this I added options to support overriding the annotation/label prefix and the Certificate namespace to the #30 'class' branch. So if we move and update the code to a new domain, people with existing clusters can run a backward compatible version by including these options.
[code]
Or alternatively you can include your own custom domain and use the improved class label approach w

[2017-01-23 00:16] whereisaaron commented on #30
I have tested all this now. I'll prepare a pull request soon, and give people a chance to test it out.

[2017-01-23 09:33] mavnn commented on #34
@whereisaaron that's good to know, thank you (although I didn't get any logs). Unfortunately it turns out that my dns supplier doesn't fully support tsig so I've had to hand roll a different solution anyway; I'm going to close this issue for now with thanks for the prompt feedback!

[2017-01-23 09:33] #34 closed

[2017-01-25 07:41] luna-duclos commented on #38
Hello, the challenge providers documentation links to https://kubernetes.io/docs/user-guide/secrets/#using-secrets-as-files-from-a-pod, which documents how to add secrets as files to a pod.
What in this documentation is unclear exactly ?

[2017-01-30 14:55] cat5 commented on #38
Thanks, I did find that documentation, it helped.

[2017-02-02 16:39] AlecTroemel opened #40 "Error while watching kubernetes events: Invalid status code: 404 Not Found"
First of all, great work on this project!

I've followed the deployment guide and am getting an error (the title) that I'm not understanding.
My deployment.yaml looks like this
[code]
and my logs are
[code]

Other issues seem to say the `connection refused` error is because of the startup order of the containers and isn't a problem. Any thoughts?

[2017-02-02 18:20] AlecTroemel commented on #40
Ah it was a problem with my certificate resource definition,  i had not changed it's api definition from highwaters to `apiVersion: "stable.k8s.psg.io/v1"`

[2017-02-02 18:20] #40 closed

[2017-02-06 14:49] AlecTroemel opened #41 "hangs on "Obtaining bundled SAN certificate""
kube-cert-manager hangs on obtaining bundled SAN cert while trying to create a secret for an ingress

logs
[code]
my deployment looks like this

[code]

and the ingress looks like this

[code]

Strangely, It ran correctly while using lets encrypt's staging environment. Any help would be greatly appreciated!

[2017-02-06 16:10] AlecTroemel commented on #41
the docker image I was using was outdated. An image that reflects the current codebase resolves the issue. Closing this

[2017-02-06 16:10] #41 closed

[2017-02-09 14:34] ean commented on #37
I have added support for multiple domains, you can find the code here:
https://github.com/ean/kube-cert-manager/tree/support-multiple-certificates
The branch also contains the default provider and email code from @whereisaaron , so I will create a PR for it when his branch is merged.

[2017-02-09 15:31] whereisaaron commented on #37
Looks great @ean - excellent feature. It is particularly nice that with this we can cut down on the number of Certificate/Secret resources required and can use either way to express Ingresses.

My PR is just waiting on me to update the documentation. That'll honestly be sometime next week at this stage sorry.

[2017-02-09 16:01] whereisaaron opened #42 "Use an Ingress to route and automatically handle HTTP challenges"
I use an instance 'kube-cert-manager' with the `class: http` to handle HTTP challenges. I route the challenges to 'kube-cert-manager' by adding a proxy to the template for Ingresses in the nginx ingress controller template (sample patch an for nginx-ingress v0.8.3 is below).

This works great and it can even process requests when an Ingress is password-protected or IP-restricted. The only hitch is

[2017-02-09 20:52] whereisaaron opened #43 "Make the renewal margin configurable, in days before certificate expiry"
Currently certificates are renewed if they have less than a week before they expire. This is reasonable, but hard coded, and some people may wish to adjust that. In my case I'd like to match other ACME tool configurations on other system that are set for 10 days before expiry.

I propose adding an `--renewal-margin-in-days` argument for this setting. It will have a default value of 7. Values less

[2017-02-21 01:26] tamalsaha commented on #37
Hi,
I came across this issue while reading https://blog.nelhage.com/post/kubernetes/ . We have build our own Kubernetes ingress controller that can also issue cert from LE. You can find our implementation here:
https://github.com/appscode/voyager/blob/master/docs/user-guide/README.md#certificate

[2017-02-24 17:32] rishka commented on #37
@ean, using your branch with many domains will hit the rate limit and never get the certificate

[2017-02-24 21:02] jonnolen commented on #37
what is "many domains"  5?  10? 100?

On Fri, Feb 24, 2017 at 12:32 PM, Adam Perlman <notifications@github.com>
wrote:

[2017-02-24 21:03] rishka commented on #37
looks like ~5-10 when using http verification

[2017-02-24 23:55] whereisaaron commented on #37
However you use Let's Encrypt, the [rate limit](https://letsencrypt.org/docs/rate-limits/) is 20 *new* certificates per registered domain per week (calculated daily). Certificates with multiple SAN names (up to 100) count as one certificate. So @ean's branch allows more sub-domains to be registered per week than before.

[2017-02-25 00:03] rishka commented on #37
Sorry, should have been more clear. I am requesting a single certificate with ~15 SAN. But when verifying via http, I get a 429 error after it verifies the 4th or 5th SAN.

[2017-02-25 00:55] whereisaaron commented on #37
Are your validations actually working? If they are failing you'll get blocked after 5 failures. E.g. if the Let's Encrypt HTTP requests are not being router to kcm, the validation will fail, and you get rate-limit blocked. Suggest you test on Let's Encrypt staging.

[2017-02-25 01:05] rishka commented on #37
All the validations pass if the certificate request has 4 or 5 SAN. I made 4 certificate k8s objects that had all the domains between them and the process worked.  However one certificate with ~15-20 SAN does not work. I'll sanitize some logs when I am back at my computer and post them

[2017-02-25 15:29] rishka commented on #37
Certificate YAML:
[code]
cert-manager output:
[code]

[2017-02-27 11:02] ean commented on #37
@Rishka could you try to use the lego command line client(https://github.com/xenolf/lego) to do the same? As far as I can see we use the SAN support in the exact same was as the cli, if there is a bug it might be in the lego library.

[2017-02-27 22:03] rishka commented on #37
You are correct, it looks like a bug there. I get the same output from the cli. Opened a ticket with them(https://github.com/xenolf/lego/issues/356)

[2017-02-28 03:42] conradev opened #44 "kubectl-proxy:1.5 has not been pushed"
The latest version is `1.4`.

[2017-02-28 08:38] luna-duclos commented on #44
Yes, I was hoping to get the remaining PRs merged before I made a new release. but that doesn't seem to be worth the wait anymore.

[2017-03-02 21:17] AlecTroemel commented on #16
Just saw this, I actually created a helm chart located here https://github.com/mirusresearch/charts/tree/master/incubator/kube-cert-manager
Feel free to use it, pick it apart, submit PR

[2017-03-02 21:26] AlecTroemel opened #45 "Certificates deletion grace period"
Currently, if certificates are managing by ingress resources, the cert is deleted right when the ingress is (or whenever the `sync-interval` is). It would be great if you could set an optional `Grace-period` for cert deletion. The use-case in mind is when doing local development where api resources are being created and deleted many times (in my case through helm charts), the grace period could be

[2017-03-03 08:32] andrewhowdencom commented on #16
@AlecTroemel oh my god I forgot about this entirely, I feel so guilty. @luna-duclos the chart I previously constructed does not follow some of the more modern conventions set out by helm. I would probably vote for using @AlecTroemel's version, and as I get time to do work on this (I want to, but am currently under load setting up CI/CD pipelines with Kubernetes as well as some monitoring and loggi

[2017-03-03 14:49] AlecTroemel commented on #16
@andrewhowdencom no need to feel guilty, I just started using this awesome project! I hope to eventually commit some PR's to kube-cert-manager and merge that chart into the official helm repo.

[2017-03-03 16:21] ssendev commented on #20
It's possible to have cross namespace services: https://docs.openshift.com/container-platform/3.4/dev_guide/integrating_external_services.html

[2017-03-03 18:13] ibotty commented on #20
That only works when the namespaces can communicate with each other. But yes, It's a possibility.

[2017-03-03 20:24] donspaulding commented on #45
Looking at the code, it seems this would most likely be handled by [gcSecrets](https://github.com/PalmStoneGames/kube-cert-manager/blob/master/processor.go#L515).  However, that's a reconciliation loop that has no concept of the time at which a secret originally became "unused".

That being said, if k-c-m could store off some timestamp on the secret itself in the K8S API the first time the gcSecre

[2017-03-03 20:26] luna-duclos commented on #45
This would be valueable.
The approach you suggest is indeed valid for this, and I would merge a PR with this.

[2017-03-03 20:45] ssendev commented on #20
https://docs.openshift.org/latest/architecture/additional_concepts/sdn.html#architecture-additional-concepts-sdn suggests that at least with the ovs-multitenant plug-in it's possible to assign a project VNID 0, which causes it to be accessible from every project.

[2017-03-04 10:27] ssendev commented on #20
Ok I did some tests with ovs-multitenant. VNID 0 works as expected, but what's interesting is that it's not even needed. Just having the service and endpoint works too. At least from external sources which is all we care about.

So lets say we have a ns LE and a ns A with a service and endpoint which point to a service in LE. When they are on different VNIDs pods in A can't access stuff in LE but

[2017-03-06 16:42] whereisaaron commented on #45
The grace period for deletion would be a sensible feature. If you can work out a clean implementation that's great.

The deleting and recreating Secrets is not actually much of an issue. The k-c-m database caches the certificate, so it doesn't re-request or re-issue the certificate. But I agree, the Secret deletion/recreation is often unnecessary, just due to the default fast sync speed.

You can

[2017-03-06 20:28] #38 closed

[2017-03-06 20:48] luna-duclos commented on #30
I think this can be closed now ?

[2017-03-07 05:21] whereisaaron commented on #30
Yep :)

[2017-03-07 05:21] #30 closed

[2017-03-19 16:49] mlaccetti opened #47 "Is the 0.5.0 build going to be pushed somewhere?"
The current 0.3.1 on Docker hub is missing `-default-provider` and `-default-email`.

[2017-03-22 21:29] keunwoo opened #48 "Support cert storage in Kubernetes secrets"
https://kubernetes.io/docs/user-guide/secrets/

When kube-cert-manager was written originally written, the Kubernetes Secrets API did not exist. However, now that it does, it seems like supporting storage of certs in secrets would be both less setup (no need to register the third party resource) and a more natural mechanism than third party resources. Presumably the legacy method would still be su

[2017-03-22 22:27] colemickens commented on #48
Doesn't the Certificate TPR just hold a reference to a secret that actually holds the cert value? https://github.com/PalmStoneGames/kube-cert-manager/blob/master/processor.go#L681

[2017-03-22 22:38] keunwoo commented on #48
Sorry, my previous comment was inaccurate. I guess I was assuming that this project was older than it is, but now that I look at the original commit I see that it was already storing things in secrets:
https://github.com/kelseyhightower/kube-cert-manager/commit/4080840eccda59b054433c093bdd267c0b27c2c2
I've read the code more and now I guess I understand why the third party resource is needed. I'll

[2017-03-22 22:38] #48 closed

[2017-03-24 07:07] euank commented on #14
FYI I'm picking up this task. I should be done in the next few days.

[2017-03-24 10:36] euank commented on #33
@luna-duclos If the repo is remaining on github, rather than replacing this one with a README, the 'Transfer ownership' button could be used to create a redirect.

Redirects are more friendly, so if that works, I'd much prefer that.

[2017-03-27 00:06] euank opened #52 "KCM shouldn't require the user to create the TPR themselves"
Other software with associated TPRs (e.g. etcd operator, prometheus operator) create the TPR if it isn't present on first run.

I think it would make sense to do that for KCM too.

[2017-03-27 02:01] euank opened #53 "logging: use a proper logging library"
While working on #50, having debug level statements would have been quite helpful! The go stdlib logger just doesn't really cut it for that.

I know that picking a logging library is a massive bikeshed, so let's just pick something and go with it and not argue much. Or just say "let's keep using the stdlib library" and not argue that either.

My preferences in order:

1. github.com/Sirupsen/logrus

[2017-03-27 02:08] euank commented on #33
Would this fit as a [Kubernetes Incubator](https://github.com/kubernetes/community/blob/master/incubator.md) project?

This seems like the sorta thing that would fit there due to how closely related to the Ingress apis it is, and also because over time it would be nice to standardize Certificate TPRs among any other things that need them (e.g. ingress controllers themselves actually).

[2017-03-27 04:52] luna-duclos commented on #53
I'll have a look at this sometime in the next day or two

[2017-03-27 04:52] luna-duclos commented on #33
That's a good question, I'll go over the spec and if it seems a good match, poke some people to see if they also think it's a good idea.

[2017-03-27 04:54] luna-duclos commented on #52
Agreed, this would be useful

[2017-03-28 20:24] sfrique commented on #47
Same problem

[2017-03-29 04:17] paultiplady commented on #33
I believe you can transfer a repo without breaking folks' links: https://help.github.com/articles/about-repository-transfers/

(Github automatically proxies when you rename a repo, I suspect it does when you transfer too).

Definitely worth at least suggesting this as an incubator project if it's going to continue to be worked on. Note that there is another project doing ingress certs (https://git

[2017-03-29 04:31] paultiplady opened #54 "Repeated error logs `Could not find key tls.crt in secret`"
My kube-cer-manager:0.3.1 deployment appears to have got stuck in a bad state, and is not issuing new certificates.

I'm seeing two of these logs every 30s, and nothing else:

`Error while processing certificate during sync: Error while decoding acme certificate from secret for existing domain : Could not find key tls.crt in secret`

Any suggestions for remedial action or further logs to collect?

[2017-03-29 04:32] paultiplady commented on #54
Note this is with GKE provider, in case that's relevant. This was working for a few months without incident prior to this.

[2017-03-29 05:10] luna-duclos commented on #54
It seems that kcm is stuck dealing with an incorrect secret, could you check your k8s deployment and see if there are any secrets missing a tls.crt key ?

[2017-03-29 17:58] paultiplady commented on #54
All of my Secrets with the annotation `{"stable.k8s.psg.io/kcm":"true"}` have both tls.crt and tls.key.

I do have many Secrets without that annotation though. Could it be getting confused there? In particular the `for existing domain :` log is suspicious, it's normally `for existing domain <domain>:` which suggests kcm doesn't have a domain for this lookup.

[2017-03-29 18:54] luna-duclos commented on #54
Could you clear kcm's data volume ? This'll cause certs to get rerequested instead of refreshed, but unless you're close to the quota, that shouldn't be an issue.

[2017-04-01 11:24] MalteJ commented on #47
+1

[2017-04-06 22:06] paultiplady commented on #54
Digging through my Certificates individually, it looks like I might actually be hitting a k8s bug:

https://github.com/kubernetes/kubernetes/issues/44182

Clearing out the invalid TPRs seems to have got things back on track.

[2017-04-07 03:36] luna-duclos commented on #54
I'll keep an eye out on that issue, do you have any idea how the corrupt certificate was initially created, was it by KCM ?

[2017-04-08 22:47] paultiplady commented on #54
I created it using a hand-rolled ThirdPartyResource on top of `pykube`,
which it turns out doesn't really support TPRs.

On Thu, Apr 6, 2017 at 8:36 PM, Luna Duclos <notifications@github.com>
wrote:

[2017-04-10 11:38] luna-duclos commented on #54
Sounds like this isn't an issue with kcm then, good to hear :)

[2017-04-10 11:38] #54 closed

[2017-04-13 16:02] mlaccetti commented on #47
@luna-duclos any word on getting the 0.5.0/1.5.0 stuff out?

[2017-04-14 13:03] dominikh commented on #47
There are no plans to push a release at this point. It's recommended that you build your own image if you need the newer changes.

[2017-04-16 17:38] luna-duclos commented on #33
I think moving this to the kubernetes incubator makes more sense than me moving it to my personal github namespace. @paultiplady @euank, who would you two suggest as initial points of contact for this ?

[2017-04-16 17:39] luna-duclos commented on #47
We are currently working on integrating some major changes, see #46, #50 and #33, once those are stabilized and working well, a release will be made under the correct new namespace.

[2017-04-16 17:39] luna-duclos commented on #47
Closing this until then.

[2017-04-16 17:39] #47 closed

[2017-04-16 17:40] luna-duclos commented on #44
We are currently working on integrating some major changes, see #46, #50 and #33, once those are stabilized and working well, a release will be made under the correct new namespace.

Closing this until then.

[2017-04-16 17:40] #44 closed

[2017-04-16 17:53] luna-duclos commented on #37
Solved by #46

[2017-04-16 17:53] #37 closed

[2017-04-17 16:35] paultiplady commented on #33
@thockin -- this project provides a simple way to generate LetsEncrypt certs in a k8s cluster, any guidance on whether it would be suitable for an incubator project?

It's complementary to kube-lego as it doesn't assume an Ingress, so it enables TLS-to-the-pod.

[2017-04-18 16:48] ahmetb opened #55 "Compare features with the original kube-cert-manager"
This helps, but doesn't tell me:

- why use this fork instead of the original project
- is using the original project still fine, or does this fork make that obsolete
- what features are different and why (telling you used `xenolf/lego` or reimplemented everything doesn't really ring a bell for me)

[2017-04-19 00:40] nanliu opened #56 "DNSimple v2"
Looks like the current glide dependency uses the old DNSimple v1 API written by weppos. The lego repo have been updated to [DNSimple official go library](https://github.com/xenolf/lego/pull/363).

When I tried master, it seems to have issues with the token (verified working separately)
[code]

I think we can update glide, and replace DNSIMPLE_API_KEY with DNSIMPLE_OAUTH_TOKEN, however the requirem

[2017-04-19 03:41] luna-duclos commented on #55
You can find the list of features of this project here:

https://github.com/PalmStoneGames/kube-cert-manager#features

and of the kelseyhightower project:

https://github.com/kelseyhightower/kube-cert-manager#features

[2017-04-19 03:41] #55 closed

[2017-04-19 03:41] luna-duclos commented on #56
Would updating the package actually be useful to DNSSIMPLE users ? It seems to me like xenolf/lego probably needs a way to pass in the baseURL and we need to support that

[2017-04-19 05:00] thockin commented on #33
Hi Paul!

I have a bunch of questions about this.

Is this abandoned or actively developed?

Can it be folded into kube-lego or vice-versa?

What would be the criteria for "graduation" ?

Does it actually benefit from being in Kubernetes orgs, vs being in a
dedicated org or somewhere else?

We don't have a lot of bandwidth to manage new projects without active
maintainers, and we're sensitive to t

[2017-04-19 18:51] nanliu commented on #56
Yes we should update to v2, because DNSimple is deprecating their v1 API, and it will be no longer available as of October 1st, 2017. We can pass the baseURL via environment variable.

[2017-04-20 03:39] wenchenglu commented on #33
Hi, Folks,

We are working on providing strong authentication for service to service communication on k8s (https://github.com/istio/auth). And we also planned to cover enduser to service authentication in the near future. Having a system to auto manage certificate is very useful to us. We can share our design doc if you are interested in more details. Happy to chat with you how our work can benefi

[2017-04-20 05:17] luna-duclos commented on #56
Closed by #57, thank you!

[2017-04-20 05:17] #56 closed

[2017-04-20 16:34] paultiplady commented on #33
Hey Tim!

I can vouch for this project being active, @luna-duclos has been very responsive with the couple of issues I've raised recently.

I think this does offer something that would be a useful primitive in the k8s feature-set, and being concerned with encryption key material, is quite sensitive; perhaps there is some benefit to making it somewhat-official in that regard.

I'll defer to Luna on

[2017-04-20 17:04] thockin commented on #33
Kube-lego has a lot of users, and is well regarded, but only does certs for
Ingress (AFAIK).  This does certs for pods, which is really attractive.

I think this is a place where less options, with a more robust feature set
is the right path.

We still. Need to decide if it makes sense to exist in our org(s) but
that's secondary to me.

On a personal note, this scratches an itch I personally have,

[2017-04-20 17:06] mlaccetti commented on #33
Adding to @thockin - `kube-cert-manager` also does DNS-based checks, which `kube-lego` doesn't (or didn't, when I last looked), which is important for certain internal-facing systems. We still want TLS, and we don't want to have to punch a hole to the world just to do so!

[2017-04-20 18:31] luna-duclos commented on #33
@thockin: I almost think this project as-is is mature and stable enough to move to the kubernetes namespace.
As for criteria for graduation, a few things are currently lacking. those would be: Automated builds, CI and unit tests. With those done and the currently open PRs merged, I believe this project to be quite mature, stable, and useful.
kube-lego doesn't quite fit the scope of this project ve

[2017-04-20 18:31] luna-duclos commented on #33
@wlu2016 thanks for the note! I'll have a look at istio.

[2017-04-20 23:04] euank commented on #33
@wlu2016 you might be misunderstanding the scope of this project. service<->service communication will likely need an internally trusted and managed ca.
This project is for interacting with lets-encrypt and only currently useful for creating certificates associated with public domain names.

[2017-04-20 23:09] euank commented on #33
My 2c for @thockin's questions:

Actively developed, fairly low velocity.

Potentially. From my viewpoint, this into kube-lego might make sense, if only because they have more popularity (at least by github stars).
It's not my call to make though.

I also haven't looked at kube-lego enough to be certain it matches up well. Their codebase looks nice at a glance, and I suppose copying over the TPR a

[2017-04-21 01:34] wenchenglu commented on #33
@euank, there are several scenarios we (Istio) need certificate associated with public domain names. For example, end user traffic (from browser and mobile app), ingress, services behind GCLB, etc.

[2017-04-21 02:11] rosskukulinski commented on #33
FWIW, @thockin, I've had this in production for a few clients for 3-4 months now.  The DNS verification and TPRs were the essential features for our use cases.

@luna-duclos has been very responsive and there's an active community around here.

[2017-04-21 02:31] whereisaaron commented on #33
Hi @thockin we originally used kube-lego and later switched to kube-cert-manager. Frankly kcm is more capable and a lot easier to deploy and manage that kube-lego (was - it may well have improved since I used it). We use kcm for both DNS challenges (multiple DNS API accounts) and HTTP challenges (for client domains we don't control). I contributed a 'class' label system analogous to the the nginx

[2017-04-21 10:12] #14 closed

[2017-04-21 17:55] ahmetb opened #60 "Tag 0.5.0 not found in repository docker.io/palmstonegames/kube-cert-manager"
Creating k8s/deployment.yaml gives error:

    Error syncing pod, skipping: failed to "StartContainer" for "kube-cert-manager" with
    ErrImagePull: "Tag 0.5.0 not found in repository docker.io/palmstonegames/kube-cert-manager"

The tag doesn't seem to be there? https://hub.docker.com/r/palmstonegames/kube-cert-manager/tags/

[2017-04-21 19:02] nanliu commented on #60
Seems like you have to build your own containers for the latest version. I know there's discussion about moving this project to k8s incubator per #33, but happy to submit either a travis config that build/push to docker hub, or we can take advantage of docker hub build pipeline.

On a somewhat related note, we need git tags for all the versions in this repo. I can do git commit archeology,  but wo

[2017-04-21 19:20] ahmetb commented on #60
@nanliu interesting. makes me wonder

1. how is everybody using 0.5.0 today? is everybody actually building it themselves? That sounds impossible, as there are no release tags on the project.
2. how did image name land in `deployment.yaml` if it never worked in the first place? that sounds like a guaranteed-to-fail installation experience.

[2017-04-21 21:49] nanliu commented on #60
So, based on [buildspec.yml](./buildspec.yml) git history:
0.5.0 aeaa115 (no idea where containers exist)
0.4.0 84bb913 [whereisaaron/kube-cert-manager:0.4.0](https://hub.docker.com/r/whereisaaron/kube-cert-manager/tags/)
Based on [deployment.yml](./k8s/deployment.yml) git history and docker inspect create timestamp of [palmstonegames/kube-cert-manager](https://hub.docker.com/r/palmstonegames/kube

[2017-04-22 00:00] rosskukulinski commented on #60
@ahmetb I have my own version that I built manually including some of the now-merged PRs.  Looking forward to moving back to the upstream version once we work out where the project will end up.

[2017-04-22 04:38] ahmetb commented on #60
@rosskukulinski that sounds like an independent discussion. Regardless of where this project ends up, there's no reason to tag releases on GitHub and set up simple Docker Hub builds based on git tags.

[2017-04-22 17:11] luna-duclos commented on #60
0.5.0 is the currently in development version, which is why it hasn't been tagged yet, this indeed needs to become much more clear from the documentation and will be looked at soonish

[2017-04-22 17:55] ahmetb commented on #60
@luna-duclos perhaps a short term fix would be to fix the deployment.yaml with an image that works out of the box.

[2017-04-24 20:46] ahmetb opened #64 "Issue with docs/create-a-certificate.md"
cat certs/psg-dot-io.yaml

this file no longer exists.

[2017-04-24 20:50] ahmetb opened #65 "Certificate not being picked up by watch in master branch"
I have deployed kube-cert-manager from the tip of master branch today and configured with my cloudflare API key. Output from the kcm pod shows healthy status:

[code]

Before started pod, I did `kubectl apply -f k8s/certificate-type.yaml`.

Then I did `kubectl apply` for a Certificate resource as follows:

[code]

However I don't see any of the logs about this Certificate getting picked up (like t

[2017-04-25 05:55] luna-duclos commented on #60
I've created tags up till 0.4.0, the next version I still consider unstable, hence why it wont' get a tag (yet), I've clarified this in the docs as well.

[2017-04-25 05:57] luna-duclos commented on #65
Hello, could you try this again on the latest stable version ? v0.4.0, I've added tags and links to the docs for that version on the main page.

[2017-04-25 05:58] luna-duclos commented on #64
It's merely an example meaning to say "let's print out how our example config looks", intended

[2017-04-25 05:58] #64 closed

[2017-04-25 16:20] ahmetb commented on #65
@luna-duclos Things ~~progressed~~ worked once I built from v0.4.0. Thanks. I'll leave it up to you to what to do with this issue.

[2017-04-25 16:50] ahmetb opened #66 "Switching from ACME staging to prod reuses existing state and requires deleting data.db"
When I modify kube-cert-manager pod spec with the

    -acme-url=https://acme-v01.api.letsencrypt.org/directory

argument, delete the TLS secret obtained during the staging configuration and deploy the new kube-cert-manager, it constantly keeps failing with the following error:

[code]

It looks like somebody reported this before (#23) and suggested deleting `data.db` directory in the persistent v

[2017-04-25 16:53] ahmetb opened #67 "Possible to implement without persistent volume?"
Is there a way this project can not use a persistent volume for a single file (boltdb database)?

If there's a way to efficiently store this database on some Kubernetes API objects, this would enable more environments that lack persistent volume support such as gcePersistentDisk. Also it would mean one less moving part.

I'd love to see if it's possible to reuse the API’s storage capabilities to i

[2017-04-25 17:12] ahmetb opened #68 "[feature request] Implement minimum validity to renew certificates"
It should be possible to configure a duration that specifies the maximum threshold for time until the certificate expires. For example, I'd like to renew all my certificates 30 days before they expire.

[2017-04-25 17:26] #65 closed

[2017-04-25 17:26] luna-duclos commented on #68
This has already been implemented in #62, though that is not currently released, we're working on stabilizing things, updating docs, etc.

[2017-04-25 17:26] #68 closed

[2017-04-25 17:27] luna-duclos commented on #67
This is unfortunately not really possible without basterdizing an API object to turn it into a persistent disk somehow, a persistent disk is the correct solution here.

[2017-04-25 17:27] #67 closed

[2017-04-25 17:28] luna-duclos commented on #66
This is indeed a bug, kcm should be smart enough to realize it's data.db belongs to another server and do the right thing. either delete old data (not ideal) or namespace things (better)

[2017-04-25 17:52] nanliu commented on #60
@luna-duclos, would you mind pushing 0.4.0 release to hub.docker.com?

[2017-04-25 21:00] nanliu commented on #56
PR #50 clobbered over #57, we are back to DNSimple v1.

[2017-04-25 21:02] nanliu opened #69 "DNSimple v2 and versions in glide.yaml"
The merge for PR #50 clobbered the fix in PR #56. We are now back to DNSimple v1 api. We may need to specify the versions in glide.yaml instead of depend on glide.lock which is difficult to review closely.

[2017-04-26 03:03] luna-duclos commented on #60
I hadn't noticed it wasn't there, will do.

[2017-04-27 18:44] ahmetb opened #71 "More verbose logging to understand the control loop"
As a user, I prefer to see some logs like:

[code]

But there are merely about 3 lines of log lines in this whole project.

[2017-04-28 00:03] thockin commented on #33
On Thu, Apr 20, 2017 at 7:31 PM, Aaron Roydhouse
<notifications@github.com> wrote:

Does this work for Google Cloud LB, for example?

[2017-05-01 19:59] paralin commented on #20
I'm interested in completing this, is there any info on what needs to be done?

[2017-05-02 03:05] whereisaaron commented on #33
@thockin are you asking if KCM requires an Ingress Controller like `kube-lego` does, or can KCM also work with LoadBalancers and no Ingress?

No KCM does not require an Ingress Controller. Yes, KCM will work fine with Google Cloud LB's.

Firstly you can use DNS challenges, which is the primary method used by KCM and don't require an Ingress or LoadBalancer or any incoming Internet access at all. T

[2017-05-02 03:11] luna-duclos commented on #20
I know nothing about openshift, is there anyone that does ?

[2017-05-02 05:24] thockin commented on #33
OK, Well, I think it's a cool and useful project.  I could endorse it.  I'd
like to see a conversation with kube-lego about whether we could come
together into one community-backed effort, still.

if someone wants to write up an incubator proposal I can sponsor.

On Mon, May 1, 2017 at 8:05 PM, Aaron Roydhouse <notifications@github.com>
wrote:

[2017-05-02 06:26] ibotty commented on #20
No released openshift supports thirdpartyresources yet, so it is hard to test.

[2017-05-02 07:29] paralin commented on #20
I can add a service with external endpoints just fine. But that shouldn't even be necessary.

With openshift router it should be super easy. Just create a certbot service and pod in the target namespace and direct the routing of the to-be-ssl route to the certbot container temporarily until the verification is complete.

Under kubernetes you could do similar with ingress controllers. Also, I would

[2017-05-02 15:24] whereisaaron commented on #33
Thanks @thockin I would welcome an eventual merged or successor project. My impression is the `kube-lego` people only concern themselves with tight integration with a single Ingress Controller. So a unified effort depends on their community willingness to make Ingress support as just one feature of a certificate service.

On a maturity basis, you would thing that KCM's features should be ported to

[2017-05-02 21:02] nanliu commented on #33
@whereisaaron, so after deploying kcm, we immediately ran into the issue how to update dns records. At first I thought the logical next step is to file an issue in xenolf/lego since it only manages TXT records. But after looking around a bit more, Kubernetes incubator already have a project to tackle the dns issue (https://github.com/kubernetes-incubator/external-dns). external-dns is trying to re

[2017-05-02 21:15] colemickens commented on #33
@nanliu I'm confused. `kube-cert-manager` [can automatically solve the DNS challenges](https://github.com/PalmStoneGames/kube-cert-manager/blob/d97dd19f01188bf17a52d759dcfeed29102699c6/docs/providers.md#dns-providers). While I think external-dns is useful (particularly for people doing the HTTP challenge), it seems tangential and well served as a separate project.

[2017-05-02 22:02] nanliu commented on #33
@colemickens, to clarify it's not TXT records for solving the DNS challenge, but A records for ingress resources external IP that's the gap. I agree they should be separate projects, but it would be nice to converge  `kube-cert-manager`, `external-dns`, and other k8s incubator projects to use the same DNS library. Whether it's extending xenolf/lego beyond TXT records, or some other library, it wou

[2017-05-03 23:06] whereisaaron commented on #33
@nanliu yes, whether you use `kube-lego` or kcm, you are currently on your own for the A or CNAME records, since the underlying [Lego](https://github.com/xenolf/lego) library only handles creating and deleting TXT challenge records (for an impressive list of providers).

This was my point (1) above about my dream `kube-lego`/`kube-cert-manager` evolution including an expanded lego library that cou

[2017-05-04 10:51] olalonde opened #72 "Comparison with https://github.com/jetstack/kube-lego?"
A comparison with https://github.com/jetstack/kube-lego would be helpful. AFAICT, both projects have the same goal?

[2017-05-09 15:21] nelhage opened #73 "`Error while watching kubernetes events: json: cannot unmarshal string into Go value of type v1beta1.IngressStatus`"
I've got a kube-cert-manager instance running in GKE using the configuration available at https://github.com/livegrep/livegrep.com which seems to be stuck; I have two certs approaching expiry, and the kcm isn't updating them, and the logs are full of spew like this:

[code]

I tried bumping to 0.4.0 (built from source) with no success. Any suggestions or debugging advice?

[2017-05-09 15:30] luna-duclos commented on #73
Which version of kubernetes are you running ?

[2017-05-09 15:35] luna-duclos commented on #73
Do you have an ingress configured manually through some other tool somewhere ? I can't spot an ingress in your config but that seems to be what kcm is chocking on

[2017-05-09 15:36] luna-duclos commented on #73
Also do ensure your version of kubernetes and the kubectl proxy container for kcm match

[2017-05-09 16:36] nelhage commented on #73
The ingresses are configured here:

https://github.com/livegrep/livegrep.com/blob/master/kubernetes/frontend.yaml#L82-L111

I'm on 1.6.2. Do the `kubectl-proxy` tags correspond to k8s versions? Is there a prebuilt place I can grab a 1.6.2 build?

[2017-05-09 16:38] luna-duclos commented on #73
See the Dockerfile for the proxy here, it's really tiny and you should be able to build one for 1.6.2 easily: https://github.com/PalmStoneGames/kube-cert-manager/blob/v0.3.1/kubectl-proxy/Dockerfile

[2017-05-09 16:42] nelhage commented on #73
Cool, I'll give that a try probably this evening when I'm at the right computer.

It'd be nice if there were a way for this setup to flag version mismatches and fail gracefully.

[2017-05-09 18:04] luna-duclos commented on #73
First recommendation I'd have is to check if you have any extra ingresses, if so delete them. And otherwise, recreate the ones you have.

[2017-05-10 04:17] nelhage commented on #73
I added some logging to the `kube-cert-manager` pod, and also upgraded to a newer `kubectl-proxy`. The upgrade didn't resolve it, but the logging shed some light on what's happening:

with this diff:
[code]

we get

[code]

Upon further investigation, though, the certs are still >1w from expiry, which is k-c-m's cutoff, so it may in fact be recovering fine from those errors, and will renew in a fe

[2017-05-11 02:03] nelhage commented on #73
The certs in question just passed 1w to expiry, and were renewed correctly. So I think everything is working normally, although the issues outlined in https://github.com/PalmStoneGames/kube-cert-manager/issues/73#issuecomment-300369154 are still valid in my judgment.

[2017-05-15 16:19] mlaccetti commented on #33
@whereisaaron Is there any status on the proposal for this, or other movement on the issue?

[2017-05-15 17:13] luna-duclos commented on #33
@mlaccetti I'm currently taking a break from opensource stuff due to medical stuff, I'll probably get back to writing a proposal in june. If someone else wants to write a proposal, that's also an option.

[2017-05-15 17:19] mlaccetti commented on #33
@luna-duclos sorry to hear that - I'll see if there is a template for the proposal and see if I can get something started.

[2017-05-18 09:50] munnerz commented on #33
Hey all, I'm from Jetstack and am interested in discussing a potential move into `kubernetes-incubator`. From our end, we're happy to see it happen if it's possible in order to drive engagement and hopefully push the project forward to stabilise it.

So far, on our end, we've avoided adding DNS challenge support as we're hoping to see some work around generic DNS management in Kubernetes (to save

[2017-05-20 16:35] whereisaaron commented on #33
@munnerz I would like to add support to KCM for creating the A/CNAME/ALIAS records to go with a certificate (previously issued with a DNS challenge). I too would rather than build it into KCM, have KCM create a k8s resource or label that e.g. `external-dns` watches for and creates the A/CNAME/ALIAS record for. My bias is I think it is a mistake and a barrier to scaling that `external-dns` is using

[2017-05-22 06:03] roshan-mr commented on #60
Tag 0.4.0 and 0.5.0 not available in docker hub

[2017-05-22 09:14] roshan-mr opened #74 "How to setup automatic renewal of my LetsEncrypt certs by kube-cert-manager?"
Hi,

I have successfully configured kube-cert-manager and I am terminating the SSL/TLS in Ingress. I would like to know how can I configure the renewal of certs automatically. Is it already in place or does it requires additional configuration.

Regards,
Muhammed Roshan

[2017-05-22 16:31] rosskukulinski commented on #74
Hi @roshan-mr - this is already built in and there's nothing you need to do.  I do want to note that you'll likely get an email letting you know the certificate is going to expire.  The default refresh interval for KCM is less than the email warning - see #43.

[2017-05-22 16:33] rosskukulinski commented on #33
Hi @munnerz and @whereisaaron - I'd also like to jump onto a call.  I've got a few systems out using KCM, but would I love to see the kube community standardize on a single system that supports both modes (Ingress & TPR).

[2017-05-22 19:24] thockin commented on #33
Have we had a conversation with kube-lego yet?  I'm in favor of moving this
or a derivative of it, to the incubator, but I want to only have one such
project, and not alienate kube-lego users (of which there are a lot) if we
can avoid it.

On Mon, May 22, 2017 at 9:33 AM, Ross Kukulinski <notifications@github.com>
wrote:

[2017-05-22 19:30] munnerz commented on #33
@thockin not yet - when would be best to discuss? We're all GMT here, but I can poke people and get them on a call too.

This week I am mostly free, except for Thursday. Can we tentatively say 3.30pm UTC on Wednesday (24th)? I'm happy to rearrange if it is more convenient for others.

[2017-05-22 19:33] thockin commented on #33
I have no pref, and I don't need to be there.  I just want communication :)

On Mon, May 22, 2017 at 12:30 PM, James Munnelly <notifications@github.com>
wrote:

[2017-05-22 19:41] munnerz commented on #33
If people could make their email addresses known, either my posting here or dropping me a message at james [at] jetstack.io, I'll add you to the calendar invite!

[2017-05-22 20:15] rosskukulinski commented on #33
ross [at] heptio.com - thanks @munnerz

[2017-05-22 21:23] ahmetb commented on #33
@munnerz ahmetb at google

[2017-05-23 04:07] luna-duclos commented on #33
luna.duclos at gmail

[2017-05-23 12:23] unguiculus commented on #33
cc @linki re. `external-dns`

[2017-05-23 13:34] #74 closed

[2017-05-24 13:13] gianrubio opened #75 "Please bump xenolf/lego version"
I'm running kube-cert-manager and every time I start kube-cert-manager it entry in a loop. Debugging the code I realise that was a lego issue, managing route53 domains. After upgrading lego to the latest version it solve my issue.

Logs before upgrading lego
[code]

[2017-05-24 16:52] luna-duclos commented on #33
I've merged all pending PRs that had already been reviewed in preparation of this

[2017-05-24 17:18] #69 closed

[2017-05-26 09:11] gianrubio commented on #75
#70 fixed the issue

[2017-05-26 09:11] #75 closed

[2017-05-30 19:29] ahmetb commented on #33
Is there a summary of the meeting? I unfortunately missed it and would love to find out what came out of the call.

[2017-05-31 03:47] luna-duclos commented on #33
We've created a merged repo at https://github.com/munnerz/cert-manager, it's a copy of kube-lego to start with, and the KCM codebase will be integrated into it, and from there we can then start cooperative work by submitting PRs

Once this is a bit stable, we want to run it through the kubernetes incubator

[2017-05-31 04:02] thockin commented on #33
Awesome!  Is that to be a final home, or is the intent to apply for an
incubator repo?

On Tue, May 30, 2017 at 8:47 PM, Luna Duclos <notifications@github.com>
wrote:

[2017-05-31 05:14] luna-duclos commented on #33
The intent is to apply for an incubator repo

[2017-05-31 21:09] nanliu commented on #33
Here's a link to the cert-manager proposal:
https://docs.google.com/document/d/1tHKLAauxDnIAEa0csmlYrF8gbQbeJ28SJC7VHVD98OA/edit?ts=5925a631

[2017-06-12 14:08] stuart-warren opened #78 "add metadata/status info back into certificate.stable.k8s.psg.io objects"
It would be really nice to have some status information in the certificate.stable.k8s.psg.io objects so that users can debug issues or monitor their certificates, similar to pods having a status field.

I'm currently thinking fields like the expiry date which is otherwise only available in a secret and whether the certificate has actually been created yet.

[2017-06-15 03:42] conradev commented on #72
`kube-lego` can only respond to challenges using the `HTTP-01` challenge, and only works for `Ingress` objects.

`kube-cert-manager` is a lot more flexible. It:
- Supports the other two challenge types (`SNI-TLS-01`, `DNS-01`)
- Uses [xenolf/lego](https://github.com/xenolf/lego) to support a ton of DNS providers
- Supports certificates as ThirdParty resources, meaning I can use `kube-cert-manager`

[2017-06-21 19:48] ahmetb commented on #33
I am trying to find out if there has been any developmemnt progress in converging kube-lego and KCM lately. I don't see any changes over at https://github.com/munnerz/cert-manager. Is there an execution timeline? @munnerz @luna-duclos

[2017-06-29 07:11] ensonic commented on #33
FYI. There is still https://github.com/kelseyhightower/kube-cert-manager which this code is loosely build upon and a new one https://github.com/tazjin/kubernetes-letsencrypt which is relative new. The later looks simple to use for me. All you need is to annotate services and run it. Wonder if it is worth to ping the main devs of those projects to see if they like to join the incubator.

[2017-06-30 11:11] munnerz commented on #33
@ahmetb I've pushed up some of my initial work on adding a Certificate resource type into the project. We'll be ramping up development on this over the next few weeks, but in all honesty I've just been very busy with client work!

I'll be dedicating some of my evenings/weekends to this over the coming weeks however, so you should see some more work going on!

For ref., I've put in a WIP PR (with a

[2017-06-30 11:48] tazjin commented on #33
@ensonic @munnerz  My `kubernetes-letsencrypt` is slightly different in that it relies only on DNS challenges and **not** HTTP challenges.

If there is interest in basing these projects on a new ~TRP~ CRD it'd be cool if we could share that resource definition across multiple projects. I'm planning support for that [in my project](https://github.com/tazjin/kubernetes-letsencrypt/issues/2).

[2017-07-07 21:15] ferrerluis opened #79 "kube-cert-manager not listening on port 8080 for HTTP challenges"
I am using v0.3.1 of `kube-cert-manager` and running GKE on a 1.6.4 k8s cluster.

When I set up my ingress to proxy requests from `/.well-known/acme-challenge/*` to my `kube-cert-manager-service` and create a new certificate, LetsEncrypt fails to communicate with the server and find the challenge.

On the [Providers Section](https://github.com/PalmStoneGames/kube-cert-manager/blob/v0.3.1/docs/prov

[2017-07-14 12:18] mikebryant opened #81 "If someone specifies a bad secret name, kube-cert-manager eats up all of the ratelimit"
e.g.
[code]

`kube-cert-manager` can't create the `Secret`, so it just loops, repeatedly requesting the certificate but failing to store it anywhere, so it uses up all of the LetsEncrypt rate limit

If it's given a secret with an invalid name, it needs to either not process the object, or at least save the certificate and not request it repeatedly in a tight loop

[2017-07-17 12:04] mikebryant opened #82 "kube-cert-manager shouldn't create an account per certificate"
We're having a lot of issues due to the rate limit change (https://community.letsencrypt.org/t/change-in-rate-limits/37120)

It should re-use accounts if it already has one for the right email

[2017-07-17 13:18] luna-duclos commented on #82
I was not aware this was changed, we indeed need to update our code

[2017-07-21 21:58] munnerz commented on #33
I've been working on cert-manager quite a lot over the last few days, although not on a repo publicly right now (I'll get it opened up on github in the next few days) - I've decided to start again, and have based it heavily on custom resource definitions.

I've got some examples manifests together that I'm keen for people to look over, and have some of the functionality already required. I've heav

[2017-07-22 12:57] munnerz commented on #33
I've updated my own repo with the new code I've been working on -

I managed to issue my first certificate with it yesterday! It's not ready yet, but I'm starting to now open some more specific feature-request issues, and would welcome everyone else to do the same! https://github.com/munnerz/cert-manager

Any feedback on structure etc. would be greatly appreciated!

[2017-07-27 05:53] dstufft commented on #65
I'm also having this problem-- unfortunately switching to v0.4.0 isn't an option for me, because I need support for SANs which appears to only be in the `master` branch.

[2017-08-07 14:07] rochdev commented on #16
Is there still work being done to get this into the official helm charts repo?

[2017-08-08 12:11] munnerz commented on #33
I've been working a fair bit more on this over the last couple of weeks, and have opened numerous issues against the repo in order to track progress/ask for feedback from the community.

Right now, cert-manager supports HTTP01 challenges for all ingress types (we are no longer tying ourselves to ingress controller implementations) as well as google clouddns and cloudflare dns providers. The DNS pr

[2017-08-08 15:55] sfrique commented on #43
@whereisaaron it seems it is at master already

https://github.com/PalmStoneGames/kube-cert-manager/blob/master/processor.go#L428

https://github.com/PalmStoneGames/kube-cert-manager/blob/6cf132dd3b2adadc607c9ca0cfca6d344495d1ed/main.go#L83

[2017-08-08 17:11] AlecTroemel commented on #16
@rochdev I'm not sure. I created a helm chart you can use here https://github.com/mirusresearch/charts/tree/master/stable/kube-cert-manager. If its something the maintainers here want in the repo I could create a PR

[2017-08-09 01:28] whereisaaron commented on #43
Yep @sfrique ! Kindly added by @stigsb a couple months ago in #62.

[2017-08-09 01:28] #43 closed

[2017-08-09 18:00] rochdev opened #85 "Error in loop"
I get the following error in loop trying to setup a new ingress:

[code]

Here is my configuration:

[code]

The AWS credentials are mounted to `/root/.aws` as per the documentation.

[2017-08-10 12:31] rochdev commented on #85
The problem was with IAM permissions. If you use AWS managed policies for testing make sure you use `AmazonRoute53FullAccess` and not `AmazonRoute53DomainsFullAccess`

[2017-08-10 12:31] #85 closed

[2017-08-11 21:11] sfrique opened #86 "Update lego to 0.4.0"
Hello,

Think it is a good idea to update to lego 0.4.0 at glide.

https://github.com/xenolf/lego/commit/192334c448f7e1e271bca93062f2f295cb3f35c8

[2017-08-20 18:12] kyrias commented on #60
@luna-duclos Ping? 0.4.0 is still not available on Docker Hub.

[2017-08-29 09:38] saward commented on #60
Yep, still only showing up to 0.3.1: https://hub.docker.com/r/palmstonegames/kube-cert-manager/tags/

[2017-09-07 11:32] emilingerslev commented on #60
It's still only `0.3.1` that's available. You could also put `0.5.0` up there as `0.5.0-unstable` or `0.5.0-beta`.

[2017-09-10 15:41] alex-dixon commented on #60
We appreciate your work! But this kind of sucks.
[code]
Followed instructions in `deployment-guide.md` which references `k8s/deployment.yaml` which references image `palmstonegames/kube-cert-manager:0.5.0`.

[2017-09-10 17:56] weitzj commented on #60
In the meantime I pushed it to our dockerhub tagged with the git Sha
https://hub.docker.com/r/iosphere/kube-cert-manager/

`docker pull iosphere/kube-cert-manager:c8443d4`

This is the current 0.5 version  and uses Go 1.9. It still needs some CI setup

[2017-09-11 11:04] munnerz commented on #33
Hello again!

I've been making a lot of progress with cert-manager and now have built out a small e2e test suite, much better logging support (using k8s events), initial support for a plain 'ca' based issuer, ACME HTTP01 and DNS01 challenge support, as well as quite a few other features!

I've got a number of quite core decisions to make over the spec of the Certificate resource (ie. https://githu

[2017-09-23 09:04] chrishiestand commented on #79
same here, you can see from a netstat within the container that the port 8080 is not open. port 8001 is but does not seem to be usable.

[code]

[2017-10-06 16:49] rochdev commented on #82
Is this still a problem?

[2017-10-18 22:00] hsingh6764 opened #88 "Update to using CustomResourceDefinition"
ThirdPartyResource is deprecated as of Kubernetes 1.7 and has been removed in version 1.8 in accordance with the deprecation policy for beta features.
To avoid losing data stored in ThirdPartyResources, you must migrate to CustomResourceDefinition before upgrading to Kubernetes 1.8 or higher.

https://kubernetes.io/docs/tasks/access-kubernetes-api/extend-api-third-party-resource/

[2017-10-20 16:41] jlcrow commented on #88
Opened https://github.com/PalmStoneGames/kube-cert-manager/pull/89

[2017-10-27 20:09] aaronthebaron commented on #82
Can confirm I am seeing this problem with the 0.3.1 container.

[2017-11-13 16:03] rochdev commented on #60
Is at least a 0.4.0 Docker Hub tag planned since this version was already released?

[2017-11-16 10:41] azr opened #93 "Where is palmstonegames/kube-cert-manager:0.5.0 ?"
(Hi)

Not there:

https://hub.docker.com/r/palmstonegames/kube-cert-manager/tags/

I don't understand, was it deleted ? Is it too soon ? Is it the wrong docker hub path ?

[2017-11-16 12:13] tbleich commented on #79
I found that configuring an ingress path to the kube-cert-manager-service does not work (I am on IBM Bluemix container service). I am quite new to Kubernetes so I might be mistaken in that point.

Since I am running a Rails and Puma application with a Nginx reverse proxy (=rails+nginx containers in one pod), I configured my nginx containers to forward the path `.well-known/acme-challenge/` to the

[2017-11-29 08:49] jmhodges commented on #88
This seems like it can be closed?

[2017-12-11 20:03] anderspetersson commented on #82
Yes. I ran into this today.

[2017-12-18 18:16] jimgreenejr opened #95 "How to use kube-cert-manager without using ingress resources"
Hello All,
I would like to use kube-cert-manager, but without using an ingress resource as the trigger for renewing certificates. Basically we have some apps that have a custom nginx sidecar, and have no ingress controller configured that we could attach the annotations for kube-cert-manager to look at. Basically I can create the initial certificate objects easy enough, but how do I get cert-manag

[2017-12-18 18:22] jimgreenejr commented on #95
I maybe also am not understanding how it deals with renewals since I couldn't find a link in the docs (nor a setting for time for renewal)

[2017-12-19 00:00] dterei commented on #93
Also wondering what is going on here, failing at this step in getting started guide...

[2017-12-23 16:05] whereisaaron commented on #73
I have noted these errors message too, in a 1.5 cluster.

[2017-12-23 16:24] whereisaaron opened #96 "Sometimes kcm deletes and re-creates all certificate Secrets"
Every now and them 'kcm' goes a little crazy. It decides that all Secrets are currently unused and deletes them all! Then on the next cycle it realizes that are still in use, and issues/downloads all the certificates again.

I am not sure what the trigger is. I wondered if it get an error from the proxy/API and treating is as an empty list of Ingresses using the certificates.

It is quite disrupti

[2017-12-29 18:16] mikejk8s commented on #93
I found this at https://hub.docker.com/r/jlcrow/kube-cert-manager/ -- jclrow/kube-cert-manager:0.5.0

And to verify jlcrow is one of the contributors to kube-cert-managers github repo.

Not sure why it's not in the PalmStoneGames repo, though.

[2018-01-24 14:01] weitzj commented on #93
I anyone is interested, I have pushed in image to our repository:

`iosphere/kube-cert-manager:5bba617`

This contains the latest master commit `5bba617` with Go 1.9.2 and Alpine 3.7

[2018-01-24 14:02] weitzj commented on #60
I anyone is interested, I have pushed in image to our repository:

`iosphere/kube-cert-manager:5bba617`

This contains the latest master commit `5bba617` with Go 1.9.2 and Alpine 3.7

[2018-02-05 08:19] roshan-mr opened #98 "Getting "apiVersion "stable.k8s.psg.io/v1" is not available" error after upgrading K8S nodes."
Hi,

We recently upgraded our K8S GKE nodes to 1.8.7-gke.0 . After that our helm package upgrades are failing with following error

"apiVersion "stable.k8s.psg.io/v1"  is not available

Any help would be highly appreciated.

[2018-03-01 17:47] gambol99 commented on #82
a fix appears to have been submitted [here](https://github.com/PalmStoneGames/kube-cert-manager/pull/84) .. I guess the outstanding question being if the certificate has already been requested what would happen?

[2018-09-20 14:43] michidk commented on #18
I have the same issue. file definitely doesn't contain a '\n'.

[code]

Is there a workaround?

[2018-09-25 10:14] kammar87 opened #101 "GKE - Error while watching kubernetes events: Invalid status code: 403 Forbidden"
Cert-manager is able to create new cert for the certificates already created in the k8s cluster. However I found error mentioned in the subject.
Firstly I tried to use proposed RBAC roles in the repo, however it didn't work.
Next I tried to add extra permission, by creating the following cluster role and bind it to service account, which didn't help as well:
[code]

[2018-10-12 21:04] luna-duclos commented on #101
I'm sorry, this project is no longer maintained. But you should be able to get a good idea of the watches by looking at the source code.

[2020-06-01 03:12] euank commented on #52
This project has been deprecated, as have TPRs.
Closing this issue as stale.

[2020-06-01 03:12] #52 closed

[2020-06-01 03:13] euank commented on #53
This project's deprecated, closing as stale.

[2020-06-01 03:13] #53 closed

[2020-08-10 19:51] reneherrero opened #102 "Load balancing across multiple AKS clusters"
Hi,

I have a setup where multiple AKS clusters in different geographical areas are at play and not clear if Let's Encrypt is going to work.

Each app has:
* it's local route (works fine with cert-manager)  (ex:  myapp.region1.domain.com)
* a global route (ex:  myapp.domain.com)

The traffic gets routed to the area that is closest to the user via Traffic Manager (DNS powered).

In simple terms, if